<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"64px"}}},"layout":{"inherit":true}} -->
<div class="wp-block-group" style="padding-bottom:64px"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"60px","left":"60px"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:query {"queryId":8,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"className":"mt-0"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"16px","padding":{"top":"10px"}}},"layout":{"type":"flex","allowOrientation":false}} -->
<div class="wp-block-group" style="padding-top:10px"><!-- wp:post-date /-->

<!-- wp:paragraph {"textColor":"tertiary","className":"mt-0"} -->
<p class="mt-0 has-tertiary-color has-text-color">-</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"category","className":"mt-0"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"4px","bottom":"13px"}},"typography":{"lineHeight":"1.2"}},"fontSize":"xx-large"} /-->

<!-- wp:post-excerpt {"moreText":"Read more"} /-->

<!-- wp:spacer {"height":"39px"} -->
<div style="height:39px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search..","buttonText":"Search","buttonPosition":"no-button"} /-->

<!-- wp:group {"style":{"border":{"width":"2px","style":"solid","radius":"8px"},"spacing":{"margin":{"top":"48px"},"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"borderColor":"foreground","backgroundColor":"white"} -->
<div class="wp-block-group has-border-color has-foreground-border-color has-white-background-color has-background" style="border-radius:8px;border-style:solid;border-width:2px;margin-top:48px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:image {"sizeSlug":"large","style":{"border":{"radius":{"topLeft":"7px","topRight":"7px","bottomLeft":"0px","bottomRight":"0px"}}}} -->
<figure class="wp-block-image size-large" style="border-top-left-radius:7px;border-top-right-radius:7px;border-bottom-left-radius:0px;border-bottom-right-radius:0px"><img src="https://images.unsplash.com/photo-1614963800669-204b5ad182da?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1000&amp;h=750&amp;q=80" alt=""/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"24px","left":"24px","bottom":"42px"}}}} -->
<div class="wp-block-group" style="padding-right:24px;padding-bottom:42px;padding-left:24px"><!-- wp:heading {"level":5,"style":{"spacing":{"margin":{"bottom":"8px"}}}} -->
<h5 style="margin-bottom:8px">Enhancing Experience</h5>
<!-- /wp:heading -->

<!-- wp:paragraph {"className":"mt-0"} -->
<p class="mt-0">
						Making the process simple. Buying, selling your home, or renting an
						apartment. we’ll represent you with the best service.
					</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary","textColor":"white"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-white-color has-primary-background-color has-text-color has-background">Read more</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:heading {"level":5,"style":{"spacing":{"margin":{"top":"48px","bottom":"16px"}}}} -->
<h5 style="margin-top:48px;margin-bottom:16px">Categories</h5>
<!-- /wp:heading -->

<!-- wp:categories {"showPostCounts":true,"showOnlyTopLevel":true,"className":"mt-0"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
