<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"150px","bottom":"250px"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top: 150px; padding-bottom: 250px">
	<!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"fontSize":"160px","lineHeight":"1"}},"className":"has-text-align-center"} -->
	<h1 class="has-text-align-center" style="font-size: 160px; line-height: 1">
		404
	</h1>
	<!-- /wp:heading -->

	<!-- wp:heading {"textAlign":"center","fontSize":"x-large"} -->
	<h2 class="has-text-align-center has-x-large-font-size">Page Not Found</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">
		We’re sorry, the page you have looked for does not exist in our database!<br />Maybe
		go to our home page or try to use a search?
	</p>
	<!-- /wp:paragraph -->

	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button -->
		<div class="wp-block-button">
			<a class="wp-block-button__link">Go back to home</a>
		</div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
